:root {
    background-color: #000;
}

.Background {
    position: fixed;
    background: radial-gradient(
            rgba(18, 229, 229, 0) 15%,
            rgba(239, 155, 255, 0.3) 56.35%,
            #ff6448 100%
    );
    box-shadow: 0px 12.93px 28.74px 0px #ffd28db2 inset;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    top: -60vw;
    left: -14.27vw;
    transform: rotate(15.25deg);
    z-index: -1;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.bounce {
    transform: scale(1.3);
    text-shadow: 0 0 8px #ff5f7d;
}

.btn {
    width: 50px;
    height: 25px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tab-btn {
    width: 70px
}

.tab-bar {
    position: absolute;
    display: flex;
    top: 10%;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.34);
}

.input {
    width: 200px;
    height: 25px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.add-btn {
    margin-bottom: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.todo-item {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}
